@using MovieApp.Models
@model MovieApp.Models.SearchView

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h3>Search</h3>

<p>
    <input type="button" class="btn btn-outline-warning" value="新規作成" onclick="location.href='@Url.Action("Create", "Movies")'" />
    @*<a href="Create" class="btn btn-outline-warning"><i class="fas fa-angle-right"></i>新規作成</a>*@
</p>

@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Kind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Kind, new SelectListItem[]
                                    { new SelectListItem(){Value = "アクション", Text = "アクション"},
                                      new SelectListItem(){Value = "アドベンチャー", Text = "アドベンチャー"},
                                      new SelectListItem(){Value = "アニメーション", Text = "アニメーション"},
                                      new SelectListItem(){Value = "コメディ", Text = "コメディ"},
                                      new SelectListItem(){Value = "サスペンス", Text = "サスペンス"},
                                      new SelectListItem(){Value = "スポーツ", Text = "スポーツ"},
                                      new SelectListItem(){Value = "西部劇", Text = "西部劇"},
                                      new SelectListItem(){Value = "ファンタジー", Text = "ファンタジー"},
                                      new SelectListItem(){Value = "ホラー", Text = "ホラー"} }, "ジャンルを選択", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kind, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="検索" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
}

@{
    var movie = new Movie();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => movie.Release)
        </th>
        <th>
            @Html.DisplayNameFor(model => movie.Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => movie.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Movies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button type="button" class="btn btn-success botton_for_openmodal mb-8" data-id="@item.Id" data-url="@Url.Action("ShowModal")"><i class="fas fa-edit fa-fw"></i>解説</button>
                @*<a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success botton_for_openmodal mb-8"><i class="fas fa-edit fa-fw"></i> 詳細</a>*@
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-edit"><i class="fas fa-chalkboard-teacher mr-1"></i>編集</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-remove"><i class="fas fa-trash-alt fa-fw"></i>削除</a>
                <div id="ModalHere"></div>
            </td>
        </tr>
    }

</table>

<!--Ajaxの処理を追加-->
<script>
    $(document).on("click", ".botton_for_openmodal", function () {
        var url = $(this).data('url');
        var id = $(this).attr('data-id');


        $.ajax({
            url: url + '/' + id,
            type: 'GET',
            cache: false,
        })

            .done(function (response) {
                $("#ModalHere").html(response);
                $("#ModalHere").find('.modal').modal('show');
                console.log(response);
            })
    });
</script>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
